.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.navbar{
  background-color: brown;
  color: aquamarine;
  padding: 30px;
  /* width: 40px; */
}
.navbar{
  
}
.link{
  margin-left: 5px;

}

.icons-link:link{
  margin-left: 20px;
  /* justify-content: space-between; */

  /* padding-bottom: 20px; */
}

.main-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-menu{
  margin-right: 25px;
}


