.navbar {
  /* margin-bottom: 12px; */
  display: flex;
  align-items: center;
  font-size: 35px;
  background-color: rgb(213, 241, 180);
  justify-content: space-between;
}

.main-nav{
  margin-right: 30px;
  margin: auto;
  justify-content: space-between;
}


